{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>TBOI Custom Music</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,shrink-to-fit=no"/>
    <link rel="stylesheet" href="{% static 'css/screen.css' %}"/>
</head>
<body>
<nav>
    {% include "navbar.html" %}
</nav>
<main>
    <section>
        <h1>Diagnostic Tests:</h1>
        <ol>
            {% for key, value in diags.items %}
              <li>{{ key }}:{{ value }}</li>
            {% endfor %}
        </ol>
    </section>
</main>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!--<script src="{% static 'js/bandcamp_lib.js' %}"></script>-->
<!--<script src="{% static 'js/script.js' %}"></script>-->
</html>