{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>TBOI Custom Music</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,shrink-to-fit=no"/>
    <link rel="stylesheet" href="{% static 'css/screen.css' %}"/>
</head>
<body>
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/admin">Admin login (root:root)</a></li>
    </ul>
</nav>
<main>
    <section id="info">
        <h1><a href="https://github.com/HenryFBP/TBOI_customMusic/">TBOI Custom Music Mod!</a></h1>
        <p>Hi there!</p>
        <p>Want to <a href="https://github.com/HenryFBP/TBOI_customMusic/issues/new?title=this+guy+smells">report a
            problem?</a>
        </p>
        <p>
            Tip: To loop, right-click the audio element and click the 'loop' button.
            Yes, this comment exists because I am too lazy to make a loop.
        </p>

        <section id="currently-playing">
            <h2>No song currently playing.</h2>
            <p>No room caused this.</p>
            <audio controls preload="none">
                <source src="{% static '/media/hello.mp3' %}" type="audio/mpeg">
                Hi. Your browser doesn't support the &lt;audio&gt; tag.
            </audio>
        </section>

        <aside id="nojs"> <!-- if they don't have javascript -->
            <p>If you're seeing this, you should:</p>
            <ul>
                <li>Enable JS, you don't have javascript enabled,</li>
                <li>
                    <a href="https://github.com/HenryFBP/TBOI_customMusic">Yell at me</a>,
                    I've gone and messed something up,
                </li>
                <li>Run around and scream, because the world is ending.</li>
            </ul>
        </aside>

    </section>

    <section id="music">
        <h1>Music List</h1>
        <ul>

        </ul>
    </section>

    <section id="log">
        <aside id="poll">
            <button>Poll manually</button>
            <section>
                <p>Not manually polled yet.</p>
            </section>
        </aside>

        <h1>Server Log</h1>
        <p id="last-updated">Last updated at <code>???</code></p>
        <ul id="server-controls">
            <li>
                <label>Continually ask for tracks?</label>
                <input id="should-poll-box" type="checkbox" checked>
            </li>
        </ul>
        <ol>

        </ol>
    </section>
</main>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{% static 'js/script.js' %}"></script>
</html>