{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>TBOI Custom Music</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,shrink-to-fit=no"/>
    <link rel="stylesheet" href="{% static 'css/screen.css' %}"/>
</head>
<body>
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/admin">Admin login (root:root)</a></li>
    </ul>
</nav>
<main>
    <section id="info">
        <h1><a href="https://github.com/HenryFBP/TBOI_customMusic/">TBOI Custom Music Mod!</a></h1>
        <p>Hi there!</p>
        <p>Want to <a href="https://github.com/HenryFBP/TBOI_customMusic/issues/new?title=this+guy+smells">report a
            problem?</a></p>

        <aside id="nojs"> <!-- if they don't have javascript -->
            <p>If you're seeing this, you should:</p>
            <ul>
                <li>Enable JS, you don't have javascript enabled,</li>
                <li>
                    <a href="https://github.com/HenryFBP/TBOI_customMusic">Yell at me</a>,
                    I've gone and messed something up,
                </li>
                <li>Run around and scream, because the world is ending.</li>
            </ul>
        </aside>

    </section>

    <section id="music">
        <h1>Music List</h1>
        <ul>

        </ul>
    </section>

    <section id="log">
        <aside id="poll">
            <button>Poll manually</button>
            <section>Not manually polled yet.</section>
        </aside>

        <h1>Server Log</h1>
        <ol>
            <li>a</li>
            <li>a</li>
            <li>a</li>
            <li>a</li>
        </ol>
    </section>
</main>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{% static 'js/script.js' %}"></script>
</html>