html {
}

p {
  padding-left: 1em;
}

h1 {
  text-align: center;
}

body {
  background-color: lavender;
}

.wait:hover {
  cursor: progress;
}

button {
  border-width: 2px;
}

button[wait],
button.wait {
    color: #999;
    background: #DDD;
    border: 2px solid #CCC;
}

main {
  display: grid;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}

#info {
  background-color: #a5a5a5;
  grid-row: 1;
  grid-column: 1;
}

#music {
  background-color: #cbddf9;
  grid-row: 2;
  grid-column: 1;
}

#log {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column: 2;

  height: 100%;
  background-color: black;
  color: white;
}

#poll {
  display: grid;
  background-color: #3c3c3c;
}

code.center {
  text-align: center;
  display: block;
  background-color: #2f4f4f;
}

#log > ol {
    display: flex;
    flex-direction: column-reverse;
}